<% layout("/layouts/boilerplate") %>

<div id="myModal" class="modal">
    <div class="modal-content">
        <p>Do You Want to proceed</p>
        <a href="/logout"><button class="btn btn-green">Confirm</button></a>
        <a href="/listings"><button class="btn btn-red">Cancel</button></a>
    </div>
</div>