<% layout("/layouts/boilerplate") %>

<form action="/check" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="otp" class="form-label"> Enter OTP</label>
        <input name="otp" id="otp" type="number" class="form-control"   required>
        <button class="btn btn-dark">Submit</button>
    </div>